<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Simple Chatting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/vue/2.0.0/vue.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/webjars/momentjs/2.19.3/moment.js"></script>
    <script src="/webjars/momentjs/2.19.3/locale/ko.js"></script>
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Chat <span class="glyphicon glyphicon-comment"></span></h1>
    </div>
    <div id="chatting-room" class="row bootstrap snippets">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-star"></span> Setting</div>
            <div class="panel-body">
                <div class="form-group has-feedback has-feedback-left">
                    <input type="text" v-model="userId" name="userId" class="form-control" placeholder="User Id">
                    <i class="glyphicon glyphicon-user form-control-feedback" style="color: gray;"></i>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" v-model="roomId" class="form-control" placeholder="Room Id">
                    <i class="glyphicon glyphicon-cloud form-control-feedback" style="color: gray;"></i>
                </div>
                <button class="btn btn-primary btn-block" @click="connect" v-show="!isConnected" :class="{ 'disabled' :isConnected}">CONNECT</button>
                <button class="btn btn-danger btn-block" @click="disconnect" v-show="isConnected" :class="{ 'disabled' :!isConnected}">DISCONNECT</button>
            </div>
        </div>
        <div class="box box-success direct-chat direct-chat-success" v-if="isConnected">
            <div class="box-header with-border">
                <h3 class="box-title">SimpleChat</h3>

                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="3 New Messages" class="badge bg-green">{{chats.length}}</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                        <i class="fa fa-comments"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="direct-chat-messages">
                    <div v-if="isEmpty(chats)">
                        {{guideMessage}}
                    </div>
                    <div v-else>
                        <div v-for="chat in chats">
                            <div v-if="isMine(chat)">
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-right">{{chat.userId}}</span>
                                        <span class="direct-chat-timestamp pull-left">{{timeFormat(chat.date)}}</span>
                                    </div>
                                    <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_2.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        {{chat.message}}
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="direct-chat-msg" >
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">{{chat.userId}}</span>
                                        <span class="direct-chat-timestamp pull-right">{{timeFormat(chat.date)}}</span>
                                    </div>
                                    <img class="direct-chat-img" src="https://bootdey.com/img/Content/user_1.jpg" alt="Message User Image"><!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        {{chat.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control" @keyup.enter="send">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-flat" @click.prevent="send" :class="{ 'disabled' : !isConnected }">Send</button>
                  </span>
                </div>
            </div>
        </div>
        <div class="panel panel-default" v-show="isConnected">
            <div class="panel-heading">Users in room({{roomId}})</div>
            <div class="panel-body">
                <div v-if="isEmpty(users)">
                    잠시 기다려주세요.
                </div>
                <ul v-else class="list-group">
                    <li class="list-group-item" v-for="user in users">
                        {{user.userId}} <span class="badge" v-if="user.presented">on</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var SUBSCRIBES = {
        "CHATTING_MESSAGES" : "/chat/messages"
        , "IN_PARTICIPANTS" : "/participants/room"
    };

    var APPLICATION_URLS = {
        "JOIN_ROOM" : "/app/joinRoom"
        , "NEED_PARTICIPANTS" : "/app/participants"
        , "SEND_CHATTING_MESSAGE" : "/app/message"
    };

    var application = new Vue({
        el: '#chatting-room'
        , data : {
            roomId : ""
            , userId : ""
            , chats : []
            , endPoint : '/endpoint'
            , stompClient : null
            , users : []
            , isConnected : false
            , intervalId : null
        }
        , computed : {
            guideMessage : function() {
                if(this.isConnected) {
                    return this.roomId + "번 방, 채팅 참여하였습니다";
                } else {
                    return "설정을 입력한 후 [connect]해주세요"
                }
            }
        }
        , methods : {
            isEmpty : function(value) {
                return $.isEmptyObject(value);
            }
            , isMine : function (chat) {
                return chat.userId == this.userId;
            }
            , connect : function () {
                this.stompClient = Stomp.over(new SockJS(this.endPoint));

                var _this = this;
                this.stompClient.connect({}, function(frame) {
                    console.log("connected: " + frame);
                    _this.isConnected = true;

                    _this.stompClient.subscribe(SUBSCRIBES.IN_PARTICIPANTS + "." + _this.roomId, function (message) {
                        _this.users = JSON.parse(message.body).collection || [];
                    });


                    _this.stompClient.subscribe(SUBSCRIBES.CHATTING_MESSAGES + "." + _this.roomId, function (response) {
                        var $data = JSON.parse(response.body);
                        _this.receive({
                            roomId : $data.roomId
                            ,userId : $data.userId
                            , message : $data.message
                            , date : new Date()
                        });
                    });

                    _this.stompClient.send(APPLICATION_URLS.JOIN_ROOM, {}, JSON.stringify({
                        roomId : _this.roomId
                        ,userId : _this.userId
                        , date : new Date()
                    }));


                    _this.intervalId = setInterval(function () {
                        _this.refreshUsers();
                    }, 6000);
                });
            }
            , refreshUsers : function () {
                this.stompClient.send(APPLICATION_URLS.NEED_PARTICIPANTS, {}, JSON.stringify({
                    roomId : this.roomId
                }));
            }
            , send : function () {
                var $message = $('[name=message]');

                if (!$.trim($message.val())) {
                    return;
                }

                var chat = {
                    roomId : this.roomId
                    , userId : this.userId
                    , message : $message.val()
                    , date : new Date()
                };

                this.stompClient.send(APPLICATION_URLS.SEND_CHATTING_MESSAGE, {}, JSON.stringify(chat));
                $message.val('');
            }
            , receive : function (chat) {
                this.chats.push(chat);
            }
            , disconnect : function () {
                this.stompClient.disconnect();
                this.isConnected = false;
                clearInterval(this.intervalId);
                this.chats = [];
            }
            , timeFormat : function (date) {
                return moment(date).startOf(moment()).fromNow();
            }
        }
        , mounted: function () {
            moment().locale("ko");
        }
    });
</script>
</body>
</html>